{%extends "base.html"%}
{% from "showlinks.html" import show_links, showsocialmedialinks %}
{%block body%}

<div class="parent">
    <div class="child child1">
        <h1 class="text-center"><i>GF FLASK</i></h1>
    </div>
    <div class="child child3">
      {{ show_links() }}
  </div>
  <div class="child child4">
    <h3 class="m-2">Registration Page</h3>
</div>
  <br>
  <br>
<h1>Welcome to our Gluten Free Flask website!</h1>

<div class="form">
    <!-- to deliver form content back to the server we use POST -->
    <!-- action is about where we want to deliver, in which route. If you return it back it returns it to the same route/URL that delivered it -->
    <form method="POST", action="">
        {{form.hidden_tag()}}
        <!-- label is the put into quotation mark e.g. "Enter your name here: " -->
        <!-- could have been         {{form.name_box.label}} {{form.name_box}} -->
        {{form.name_box.label(class="form-label")}} 
        {%if form.name_box.error%}
            {{form.name_box(class="form-control is-invalid")}} 
            <div class="invalid-feedback">
                {%for error in form.name_box.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
        {%else%}
            {{form.name_box(class="form-control")}} 
        {%endif%}
        <br>

        {{form.email_box.label(class="form-label")}} 
        {%if form.email_box.error%}
            {{form.email_box(class="form-control is-invalid")}} 
            <div class="invalid-feedback">
                {%for error in form.email_box.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
        {%else%}
            {{form.email_box(class="form-control")}} 
        {%endif%}
        <br>

        {{form.submit_button(class="btn btn-primary")}}
    </form>   
</div>


{%endblock body%}